.tasks{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 480px;;
    margin: 15px;
    padding: 15px;
}

.current_task {
    display: flex;
    height: 48px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 387.36px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 14px;
}

.text_task {
    font-family: 'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.task_burg {
    display: flex;
    height: 32px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.task_burg > img {
    display: flex;
    width: 16px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.20);
}

.task_bar {
    position: absolute;
    border-radius: 4px;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    pointer-events: auto;
    background-color: white;
    width: 210px;
    right: 34.5%;
    bottom: -2px;
    z-index: 1;
    text-align:left;
    display: none; /* Скрываем при загрузке страницы */

}

.task_bar img {
    opacity: 0.8;
    width: 14px;
    margin-right: 8px;
}

.clear_fin, .clear_act, .save, .add, .import, .clear_all {
    color: rgb(79, 43, 45);
    align-items: center;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    pointer-events: auto;
    display: block; /* По умолчанию видимые элементы */
}

/* .task_burg:focus + .task_bar {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
    transform: translateY(10px);
    width: 210px;
    right: 20%;
} */





